<html>
  <head>
    <link rel="stylesheet" href="/css/reset.css"/>
    <link rel="stylesheet" href="/css/main.css"/>
    <script>
    window.data = <%- data %>
    </script>
  </head>
  <body>
      <a href="/" data-navigo>home</a>
      <a href="/emperor/1" data-navigo>emperor 1</a>
      <a href="/emperors" data-navigo>emperors</a>
      <h1>hellllo</h1>
    <div>
      <h1 class="page-header">Emperors of Rome</h1>
      <ul id="results">
        <% parsedData.results.forEach(result => { %>
          <li class="card">
              <img
                alt=""
                class="card-image"
                src="https://white-label-elements.herokuapp.com/images/medium/<%= result.id %>.jpg">
              <h1 class="card-header"><%= result.name %></h1>
              <p><%= result.from %></p>
              <p><%= result.to %></p>
              <p><%= result.summary %></p>
              <p><%= result.dynasty %></p>
          </li>
        <% }) %>
      </ul>
      <noscript>
        <ul class="pagination">
          <% for(let i = 0; i < paginationLinks.length; i++) { %>
            <li class="pagination-link <%= (paginationLinks[i].active ? 'active': '')%>">
              <a href="<%= paginationLinks[i].href %>">
                <%= paginationLinks[i].label %>
              </a>
            </li>
          <% } %>
        </ul>
      </noscript>
    </div>
    <script src="/node_modules/navigo/lib/navigo.js"></script>
    <script src="/js/create-items-array.js"></script>
    <script src="/js/calculate-scroll-position.js"></script>
    <script src="/js/create-list-page-scroll-state.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
